<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head_links.ejs') %>
    <title>Ottergram</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/imgs/icons/otter-logo.svg" alt="Ottergram logo"></a>
            <a href="/login">Sign in</a>
        </nav>
    </header>
    <main>
        <h1>All posts</h1>

        <section class="feed-posts">
            <% for (let index = 0; index < allPosts.length; index ++){%>
                <div class="feed-post-container">
                    <div class="upper-feed-post">
                        <a href="/login"><img class="user-profile-pic" src="<%= allPosts[index].profilePic %>" alt="user's post"></a>
                        
                        <% if (allPosts[index].postByUsername == ""){ %>
                            <a href="/login"><span>Unknown</span></a>
                        <% } else { %>
                            <a href="/login"><span><%= allPosts[index].postByUsername %></span></a>
                        <% } %>
                    </div>
                    <div class="post-pic">
                        <a href="/login"><img src="<%= allPosts[index].img%>" alt="cute otter picture"></a>
                    </div>
                    <div class="lower-feed-post">
                        <div class="likes-comments">
                            <div>
                                <a href="/login"><img src="/imgs/icons/like-svgrepo-com.svg" alt="heart icon"></a>
                                <% if (allPosts[index].likes == null){ %>
                                    <span>0</span>
                                <% } else { %>
                                    <span><%= allPosts[index].likes %></span>
                                <% } %>
                            </div>
                            <div>
                                <a href="/login"><img src="/imgs/icons/comment-simple-lines.svg" alt="comment icon"></a>
                                <% if (allPosts[index].numComments == null){ %>
                                    <span>0</span>
                                <% } else { %>
                                    <span><%= allPosts[index].numComments %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="post-date">
                            <% if (allPosts[index].datePosted == null){ %>
                                <span>Posted along time ago, in a galaxy far, far away...</span>
                            <% } else { %>
                                <span><%= allPosts[index].datePosted %></span>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        </section>
    </main>
</body>
</html>