<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head_links.ejs') %>
    <title>Ottergram - post page</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img class="standard-logo" src="/imgs/icons/otter-logo.svg" alt="Ottergram logo"></a>
            <div class="right-nav four-items desktop-right-nav">
                <a href="/feed">Feed</a>
                <a class="post-link" href="/new-post">New post <img src="/imgs/icons/plus.svg" alt="plus symbol"></a>
                <% if (profilePic != "") { %>
                    <a href="/profile"><img class="user-profile-pic" src="<%= profilePic %>" alt="user's post"></a>
                <% } else { %>
                    <a href="/profile"><img class="user-profile-pic" src="/imgs/icons/otter-logo.svg"></a>
                <% } %>
                <form action="/logout" class="logout-form" method="post">
                    <button type="submit" class="sign-out-btn">Sign out</button>
                </form>
                
            </div>
            <%- include('partials/mobile-nav.ejs') %>
        </nav>
    </header>
    <main>
        <div class="main-post-page">
            <section class="feed-posts post-section">
                <div class="feed-post-container">
                    <div class="upper-feed-post">
                        <div class="profile-container">
                        <% if (postInfo.profilePic != "") { %>
                            <a href="/user/<%=postInfo.postByUserId %>"><img class="user-profile-pic" src="<%= postInfo.profilePic %>" alt="user's post"></a>
                        <% } else { %>
                            <a href="/user/<%=postInfo.postByUserId%>"><img class="user-profile-pic" src="/imgs/icons/otter-logo.svg"></a>
                        <% } %>
                        </div>
                        
                        
                        <% if (postInfo.postByUsername == ""){ %>
                            <a href="/login"><h3>Unknown</h3></a>
                        <% } else { %>
                            <a href="/user/<%=postInfo.postByUserId%>"><h3><%= postInfo.postByUsername %></h3></a>
                        <% } %>
                    </div>
                    <div class="post-pic">
                        <a href="/post/<%=postInfo._id.toString()%>"><img src="<%= postInfo.img%>" alt="cute otter picture"></a>
                    </div>
                    <div class="lower-feed-post">
                        <div class="likes-comments">
                            <div class="feed-likes">
                                <% if (postInfo.likesStr.includes(authedUserId.toString())) {%>
                                    <button class="like-button"><img src="/imgs/icons/like-red-black-outline.svg" alt="heart icon" class="liked" id="<%= postInfo._id.toString()%>"></button>
                                <% } else { %>
                                    <button class="like-button"><img src="/imgs/icons/like-heart-white.svg" alt="heart icon" id="<%= postInfo._id.toString()%>"></button>
                                <% } %>
                                <% if (postInfo.likes.length == null){ %>
                                    <span>0</span>
                                <% } else { %>
                                    <span><%= postInfo.likes.length %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="post-date">
                            <% if (postInfo.datePosted == null){ %>
                                <span>Posted along time ago, in a galaxy far, far away...</span>
                            <% } else { %>
                                <span><%= postInfo.datePosted %></span>
                            <% } %>
                        </div>
                    </div>
                </div>
            </section>
            <section class="comments-section">
                <div class="upper-comments">
                    <h2>Comments - <%= postInfo.comments.length %></h2>
                </div>
                <div class="mid-comments">
                    <% for (let index = 0; index < postInfo.comments.length; index++){ %>
                        <div class="comment-container">
                            <% if (postInfo.comments[index].profilePic != "") { %>
                                <a href="/user/<%=postInfo.comments[index].commentedBy%>"><img class="user-profile-pic" src="<%=postInfo.comments[index].profilePic%>" alt="commenter's profile pic"></a>

                            <% } else { %>
                                <a href="/user/<%=postInfo.comments[index].commentedBy%>"><img class="user-profile-pic" src="/imgs/icons/otter-logo.svg" alt="commenter's profile pic"></a>
                            <% } %>
                            
                            <div class="right-comment">
                                <a href="/user/<%=postInfo.comments[index].commentedBy%>"><h3><%=postInfo.comments[index].username%></h3></a>
                                <p><%=postInfo.comments[index].message%></p>
                                <span class="time-posted-span"><%=postInfo.comments[index].date%></span>
                                
                            </div>
                            <% if (postInfo.comments[index].commentedBy == authedUserId.toString()) { %>
                                <div class="delete-comment-div">
                                    <button type="button" class="delete-comment-btn" id="<%=postInfo.comments[index].commentId.toString()%>"><img src="/imgs/icons/trash-can-white.svg"></button>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="bot-comments">
                    <form action="/post/<%=postInfo._id.toString()%>/post-comment" class="comment-form" name="form-comment" method="post">
                        <textarea class="bio-input" name="commentMsg" type="text" maxlength="300" placeholder="Add a comment..."></textarea>
                        <button type="submit" class="standard-btn">Post</button>
                    </form>

                </div>
            </section>
        </div>
    </main>
    <script src="/js/likeUnlike.js"></script>
    <script src="/js/alterHeight.js"></script>
    <script src="/js/comments.js"></script>
    <script src="/js/manageMobileNav.js"></script>
</body>
</html>